﻿@{
    ViewBag.Title = "Sobre Nosotros";
}
<header>
    <link href="~/Content/Home/about.css" rel="stylesheet" />
</header>

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://markedfocus.com.au/wp-content/uploads/2015/06/lawyer.jpg" alt="Lawyer1" class="tales" style="position: center">
                <div class="carousel-caption">
                    <h3>El equipo de trabajo</h3>
                    <p>Siempre mirando más allá</p>
                </div>
            </div>
            <div class="item">
                <img src="http://www.usanetwork.com/sites/usanetwork/files/styles/full_episodes_633x356/public/2015/06/suits_triva_whichtypeoflawyer_2560x1440.jpg?itok=YoSSqz2r" alt="Lawyers2" class="tales" style="position: center">
            </div>

            <div class="item">
                <img src="http://ladydivorce.com/wp-content/uploads/2014/06/photodune-4107116-meeting-xs.jpg" alt="LawyerMeeting" class="tales" style="position: center">
            </div>

            <div class="item">
                <img src="http://www.snagajob.com/resources/files/2014/12/accountant.jpg" alt="Accountant" class="tales" style="position: center">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div>
        <p style="font-family: 'Abhaya Libre', serif; font-size: large">
            Somos un grupo de especialistas realmente comprometidos con nuestros clientes, buscando siempre la verdad y la justicia en cada caso que se nos presenta.
            Estudio Jurídico K.U. y Asociados es una empresa conformada por siete abogados, un contador público, una administradora de RRHH y una secretaria.
            Comenzamos nuestra actividad hace más de 10 años, contando con solamente un abogado, Eduardo Ruíz especialista en Derecho Penal, y un contador público, Sergio Díaz, los actuales dueños del estudio.
            En nuestros pocos años de experiencia, gracias al compromiso de los dueños y del equipo de trabajo, conseguimos el rápido crecimiento.
            Pero, algo que nos representa es el afán de crecer y seguir consiguiendo que se cumpla la Ley y se mantenga el Orden, por lo que estamos buscando seguir en constante crecimiento.
        </p>
    </div>
</div>