﻿@model App_Estudio_Juridico_Kinexo.Models.ContactModel
@{
    ViewBag.Title = "Contactanos";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Home/index.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="https://blackrockdigital.github.io/startbootstrap-one-page-wonder/css/one-page-wonder.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <h1>Realiza tu consulta</h1>
            <hr />
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            @Html.LabelFor(model => model.FirstAndLastName, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.FirstAndLastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstAndLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div style="height: 50px;"></div>
                        <div class="col-md-6">
                            <div>
                                <div>
                                    <input type="submit" value="Enviar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6">
                <div id="map"></div>
            </div>
        </div>

        <div>
            <!-- /.container -->
            <!-- First Featurette -->
            <!--
             <div class="featurette" id="about">
                 <img class="featurette-image img-circle img-responsive pull-right" src="http://www.sydneycriminallawyers.com.au/wp-content/uploads/2015/07/woman-lawyer.jpg">
             </div>

             <hr class="featurette-divider">
            -->
            <hr />
            <div>
                <address>
                    <b>País: </b>Argentina<br />
                    <b>Ciudad: </b>Rafaela, Santa Fe<br />
                    <b>Dirección: </b> Colón 954<br />
                    <b><abbr title="Phone">Teléfono:</abbr></b>
                    03492-450450
                </address>
            </div>
            <script>
                function initMap() {
                    var uluru = { lat: -31.2614384, lng: -61.4955531 };
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 18,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7JAPtfnROEhyJN6V2cpNWBvwRw-Jc9vc&callback=initMap">
            </script>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>
