﻿

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline" id="bgimg">
            <div class="container" id="indexTitle">
                <h1 id="titleEJ">Estudio Jurídico "K.U. y Asociados"</h1>
                <hr />
                <h3 id="subtitleEJ">Después de Dios está el Derecho porque siempre busca la Justicia..</h3>
            </div>
        </div>
    </header>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>
