﻿#titleEJ, #subtitleEJ {
    font-family: 'Abhaya Libre', serif;
    text-shadow: 4px 4px 4px;
}

#bgimg {
    background-image: url(http://www.vernmccraylaw.com/files/stacks_image_1241.jpg);
    background-size: 100%;
}

#subtitleEJ{
    background-color: white;
}

#indexTitle{
    background-color: rgba(255, 255, 255, 0.4);
}

.barraNav {
    color: black!important;
    font-family: 'Abhaya Libre', serif;
}
