﻿@model IEnumerable<App_Estudio_Juridico_Kinexo.Models.NotificationModel>

@{
    ViewBag.Title = "Notificaciones";
    var cantNotif = Model;
}
<div class="container">
    <h2>Notificaciones</h2>
    @if (cantNotif.FirstOrDefault() == null || cantNotif.First().NotificationID == -1)
    {
        <hr />
        <p>No posee notificaciones</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Seen)
                </th>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Comment)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Seen)
                    </td>
                    @if (item.Comment != null && item.Comment != "")
                    {
                        <td class="col-md-4">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                    }
                    else
                    {
                        <td class="col-md-8">
                            
                        </td>
                    }
                    <td>
                        @if (item.CommentID != 0 && item.CommentID != -1)
                        {
                            <a class="glyphicon glyphicon-share-alt" href="/Comment/Reply/@item.CommentID"></a>
                        }
                    </td>
                </tr>
            }

        </table>
    }

</div>