﻿
@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/Employees/employees.css" rel="stylesheet" />
</head>
<div class="container">
    <h2>Seleccione el empleado a crear:</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img src="http://static0.misionesonline.net/wp-content/uploads/2015/08/723.jpg" />
            <div>
                <input type="button" class="btn btn-default" value="Abogado >" />
            </div>
        </div>


        <div class="col-md-6">
            <img src="http://www.planoinformativo.com/stock12/image/2015/Mayo/25/contador.jpg" />
            <div>
                <input type="button" class="btn btn-default" value="Contador >" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="http://destinonegocio.com/wp-content/uploads/2015/10/ico-destinonegocio-profesional-de-recursos-humanos-istock-getty-images.jpg" />
            <div>
                <input type="button" class="btn btn-default" value="Administrador de RRHH >" />
            </div>
        </div>


        <div class="col-md-6">
            <img src="http://effective-leverage-solutions.com/wp-content/uploads/2016/02/the-secretary.jpg" />
            <div>
                <input type="button" class="btn btn-default" value="Secretaria >" />
            </div>
        </div>

    </div>


</div>
