﻿@using Microsoft.AspNet.Identity
@using App_Estudio_Juridico_Kinexo.Models
@model IList<NotificationModel>

@{
    ViewBag.Title = "Página de Inicio";
    try
    {
        if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                if (item.NotificationID == -1)
                {
                    ViewBag.CantNotificaciones = 0;
                    break;
                }
                else
                {
                    ViewBag.CantNotificaciones = Model.Count;
                }

            }
        }
    }
    catch
    {
        ViewBag.CantNotificaciones = 0;
    }
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right barraNav" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "barraNav" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()" class="barraNav">Desconectarme</a></li>
                @if (User.IsInRole("Lawyer"))
                {
                    <li>
                        <a class="fa fa-globe" href="/Notification">
                            <span class="fa fa-comment"></span><span class="num">@ViewBag.CantNotificaciones</span>
                        </a>
                    </li>
                }
                
            </ul>
        </div>
    }
}
else
{
    <link href="~/Content/Home/index.css" rel="stylesheet" />
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "barraNav" })</li>
        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "barraNav" })</li>

    </ul>
}
