﻿@model App_Estudio_Juridico_Kinexo.Models.ProcedureModel

@{
    ViewBag.Title = "Nuevo caso";
}
<head>
    <link href="~/Content/Procedures/create.css" rel="stylesheet" />
</head>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>NUEVO CASO</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.HiddenFor(model => model.LawyerID)
                        @Html.HiddenFor(model => model.ProcedureStateID)
                        @Html.HiddenFor(model => model.LawyerInCharge)
                        @{
                            ViewBag.LawyerInCharge = Model.LawyerInCharge;
                            ViewBag.LawyerID = Model.LawyerID;
                            ViewBag.ProcedureStateID = Model.ProcedureStateID;
                        }
                        <label class="control-label">Abogado a cargo: <b>@ViewBag.LawyerInCharge</b></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.ClientID, ViewBag.ClientList as SelectList, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.FinishingDate, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.FinishingDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.FinishingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <input type="button" id="btnComments" class="btn btn-default" value="+ Agregar Comentario"/>
                        <div id="commentAreaDiv" hidden>
                            <textarea class="form-control" rows="6" , cols="50" id="commentArea" disabled></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Lista de comentarios:</label>
                    <div>
                        <ul id="listaDeComentarios">

                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label class="control-label">Estado del caso: <span class="estadoNuevo">Emitido</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p></p>
        </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <input type="submit" value="Crear" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <hr />
                            }

    <div>
        @Html.ActionLink("Volver al Inicio", "Index", "Home")
    </div>
    
</div>
