﻿@model App_Estudio_Juridico_Kinexo.Models.ProcedureModel

@{
    ViewBag.Title = "Editar";
}
<head>
    <link href="~/Content/Procedures/create.css" rel="stylesheet" />
</head>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @Html.HiddenFor(model => model.LawyerID);
            @Html.HiddenFor(model => model.ProcedureStateID);
            @{
                ViewBag.LawyerID = Model.LawyerID;
                ViewBag.ProcedureStateID = Model.ProcedureStateID;
            }

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ProcedureID, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.ProcedureID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ProcedureID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.LawyerInCharge, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.LawyerInCharge, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.LawyerInCharge, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DropDownListFor(model => model.ClientID, ViewBag.ClientList as SelectList, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.FinishingDate, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.FinishingDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.FinishingDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @{
                        switch (Model.ProcedureStateID)
                        {
                            case 1:
                                ViewBag.Clase = "estadoNuevo";
                                ViewBag.Estado = "Emitido";
                                break;
                            case 2:
                                ViewBag.Clase = "estadoDemandado";
                                ViewBag.Estado = "Demandado";
                                break;
                            case 3:
                                ViewBag.Clase = "estadoContestado";
                                ViewBag.Estado = "Contestado";
                                break;
                            case 4:
                                ViewBag.Clase = "estadoAlegado";
                                ViewBag.Estado = "Alegado";
                                break;
                            case 5:
                                ViewBag.Clase = "estadoSentenciado";
                                ViewBag.Estado = "Sentenciado";
                                break;

                        }
                    }
                    <label class="control-label">Estado del caso: <span class="@ViewBag.Clase">@ViewBag.Estado</span></label>
                </div>
            </div>

            @if (Roles.IsUserInRole("Lawyer"))
            {
                <div>
                    <input value="Siguiente Estado" type="button" id="botonSigEstado" class="btn btn-default" />
                </div>
            }

            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
                        }

    <div>
        @Html.ActionLink("Volver a Inicio", "Index")
    </div>
</div>