﻿@using App_Estudio_Juridico_Kinexo.Models
@model IList<ProcedureModel>

@{
    ViewBag.Title = "Mis Casos";
}
<head>
    <link rel="stylesheet" href="~/Content/Clients/mycases.css" />
    <link rel="stylesheet" href="~/Content/Procedures/create.css" />
</head>
<body>
    <div class="container">
        <h2>Mis Casos</h2>
        <hr />

        <div class="container">
            @foreach (var item in Model)
            {
                <div class="cuadrado col-md-6" style="margin: 10px">
                    @{
                        switch (item.ProcedureStateID)
                        {
                            case 1:
                                ViewBag.Clase = "estadoNuevo";
                                ViewBag.Estado = "Emitido";
                                break;
                            case 2:
                                ViewBag.Clase = "estadoDemandado";
                                ViewBag.Estado = "Demandado";
                                break;
                            case 3:
                                ViewBag.Clase = "estadoContestado";
                                ViewBag.Estado = "Contestado";
                                break;
                            case 4:
                                ViewBag.Clase = "estadoAlegado";
                                ViewBag.Estado = "Alegado";
                                break;
                            case 5:
                                ViewBag.Clase = "estadoSentenciado";
                                ViewBag.Estado = "Sentenciado";
                                break;

                        }
                    }
                    <label class="control-label">Abogado a cargo: <span> @item.LawyerInCharge</span></label>
                    <label class="control-label">Estado del caso: <span class="@ViewBag.Clase">@ViewBag.Estado</span></label>

                </div>
                        }
        </div>
    </div>
</body>