﻿a.fa-globe {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}
span.fa-comment {
  position: absolute;
  font-size: 0.7em;
  top: 0px;
  color: red;
  right: -4px;
}
span.num {
  position: absolute;
  font-size: 0.4em;
  top: 0px;
  color: #fff;
  right: 3px;
}