﻿@model App_Estudio_Juridico_Kinexo.Models.AccountantModel

@{
    ViewBag.Title = "Nuevo Contador";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.DocumentNumber, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DocumentNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.DocumentNumberTypeID, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.DocumentNumberTypeID, ViewBag.DocumentTypes as SelectList, new { @class="form-control"})
                            @Html.ValidationMessageFor(model => model.DocumentNumberTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.EmailConfirm, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.EmailConfirm, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmailConfirm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.LocationID, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.LocationID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.GenderID, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.GenderID, ViewBag.Genders as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.ProfileImage, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.ProfileImage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProfileImage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <div>
                            <input type="submit" value="Crear" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <input type="hidden" id="Title" name="Title" value="Contador" />
            <input type="hidden" id="AccountantID" name="AccountantID" value="@Model.AccountantID" />
            <input type="hidden" id="PersonID" name="PersonID" value="@Model.PersonID" />

            <hr />

            <div>
                @Html.ActionLink("Volver a inicio", "Index")
            </div>

        </div>
    }
</div>