﻿.estadoNuevo {
    font: bold;
    color: green;
}

.estadoDemandado {
    font: bold;
    color: lawngreen;
}

.estadoContestado {
    font: bold;
    color: aquamarine;
}

.estadoAlegado {
    font: bold;
    color: aqua;
}

.estadoSentenciado {
    font: bold;
    color: cornflowerblue;
}
