﻿@model App_Estudio_Juridico_Kinexo.Models.NewsModel

@{
    ViewBag.Title = "Nueva Noticia";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2>Nueva Noticia</h2>
        <hr />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Head, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Head, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Head, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.TextAreaFor(model => model.Body, new { @class = "form-control", cols = 200, rows = 5 })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Fonts, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Fonts, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fonts, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-md-6">
                    @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Volver a noticias", "Index")
    </div>
</div>