﻿@model App_Estudio_Juridico_Kinexo.Models.NewsModel

@{
    ViewBag.Title = "Eliminar";
}
<div class="form-horizontal">
    <h2>Eliminar noticia</h2>

    <h3>¿Estás seguro de eliminar esta noticia?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Head)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Head)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fonts)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fonts)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublicationDate)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Volver a noticias", "Index")
            </div>
        }
    </div>
</div>