﻿@model App_Estudio_Juridico_Kinexo.Models.NewsModel

@{
    ViewBag.Title = "Editor de Noticias";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <!-- Row para acomodar s-->
                <div class="col-md-6">
                    <h3 class="text-info"><b> EDITOR DE NOTICIAS </b></h3>
                </div>
            </div>

            <div class="row">
                <!-- Empieza Row 1 -->
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.Head, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Head, "", new { htmlAttributes = new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Head, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Body, "", new { htmlAttributes = new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div> <!-- Termina Row 1-->

            <div class="row">
                <!-- Empieza Row 2 -->
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Author, "", new { htmlAttributes = new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6" ♠>
                    <div>
                        @Html.LabelFor(model => model.Fonts, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Fonts, "", new { htmlAttributes = new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Fonts, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div> <!-- Termina Row 2 -->

            <div class="row">
                <!-- Empieza Row 3 -->
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.PublicationDate, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.PublicationDate, "", new { htmlAttributes = new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PublicationDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.ImageURL, "", new { htmlAttributes = new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div> <!-- Termina Row 3 -->

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div>
                            <input type="submit" value="Guardar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Termina el Form -->

        <div>
            @Html.ActionLink("Volver a inicio", "Index")
        </div>
    }
</div>