﻿@using App_Estudio_Juridico_Kinexo.Models
@model IEnumerable<NewsModel>

@{
    ViewBag.Title = "Noticias";
}


<body>
    <div class="container">
        <h2>Noticias</h2>
        <hr />
        @{
            if (Model.First().NewID != -1)
            {
                if (User.IsInRole("Admin"))
                {
                    <i class="glyphicon glyphicon-plus">@Html.ActionLink("Crear una nueva noticia", "Create")</i>
                }
                foreach (var item in Model)
                {
                    <div class="container">
                        <!-- First Featurette -->
                        <div class="featurette" id="about">
                            <img class="featurette-image img-responsive" src="@item.ImageURL">
                            <h2 class="featurette-heading">
                                @item.Head
                                <!-- <span class="text-muted">Will Catch Your Eye</span> -->
                            </h2>
                            <p class="lead">@item.Body</p>
                            <footer>
                                @item.PublicationDate <br />
                                @if (User.IsInRole("Admin"))
                                {
                                    <p>
                                        <a href="/News/Edit/@item.NewID">Editar</a> <a href="/News/Delete/@item.NewID">Eliminar</a>
                                    </p>
                                }
                            </footer>
                        </div>

                        <hr class="featurette-divider">

                    </div>
                }
            }
            else
            {
                <div class="container-fluid">
                    <h2>No hay noticias</h2>
                    @if (User.IsInRole("Admin"))
                    {
                        <p>¿Querés crear una noticia nueva?</p>
                        @Html.ActionLink("Crear una noticia", "Create")
                    }

                </div>

            }
        }
    </div>
</body>
